@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');

html, body {
    margin: 0;
    font-family: 'Source Sans Pro', sans-serif
}

#root {
    width: 100vw;
    height: 100vh;
    background-color: #F0F2F5;
}